::-moz-selection {
    background: #aa3f28;
    color: white;
    text-shadow: none;
}

::selection {
    background: #aa3f28;
    color: white;
    text-shadow: none;
}

html {
    background: #2d2d2d url("../img/light_fabric_texture.png") center top;
}