.button {
    display: inline-block;
    padding: 0 30px;
    height: 30px;
    border: 0;
    outline: none;
    color: #fffcf4 !important;
    font-family: "Avenir Black";
    font-size: 12px;
    font-weight: normal;
    line-height: 30px;
    text-decoration: none !important;
    text-transform: uppercase;
    background: #aa3f28;
    border-radius: 2px;

    &:hover {
        text-decoration: none;
        background: lighten(#aa3f28, 5%);
    }

    @media only screen and (max-width: 767px) {
        padding: 0 15px;
    }
}