.content {
    overflow: hidden;
    background: #272727 url("../img/dark_fabric_texture.png");
    outline: solid rgba(255, 255, 255, 0.1) 1px;

    @media only screen and (max-width: 549px) {
        border: none;
    }
}