.sidebar .dynamic
{
    list-style: none;
    margin: 0;
    padding: 0;

    color: #4d4d4d;
    font-size: 16px;
    line-height: 150%;

    > li {
        margin: 35px 0 0 0;
    }

    ul
    {
        list-style: none;
        margin: 15px 0 25px 0;
        padding: 0;

        li
        {
            font-size: 14px;
            line-height: 1.25;

            margin: 5px 0;
            padding: 8px 0;
            border-bottom: solid 1px rgba(white, .2);

            &:first-child {
                border-top: solid 1px rgba(white, .2);
            }
        }
    }

    table
    {
        width: 100%;
        margin: 15px 0 25px 0;
        border-collapse: collapse;

        th
        {
            font-family: MyriadProSemiBold;
        }

        th,td
        {
            border: 1px solid rgba(#57443b, .2);
            text-align: center;
        }
    }

    a
    {
        color: white;
        text-decoration: none;
        font-weight: 700;

        &:hover
        {
            text-decoration: underline;
        }
    }

    h2
    {
        margin: 15px 0 5px 0;
        font-family: 'Avenir Black';
        color: #393939;
        font-size: 20px;
        line-height: 100%;
        font-weight: normal;
        text-transform: uppercase;
    }

    .widget_search
    {
        .searchform
        {
            position: relative;
            margin: 0 0 30px 0;
            padding: 0;

            label
            {
                display: none;
            }

            input[type="text"]
            {
                box-sizing: border-box;
                display: block;
                width: 100%;
                height: 30px;
                padding: 0 75px 0 15px;

                font-family: MyriadProSemiBold;
                line-height: 30px;
                font-size: 13px;
                color: lighten(#57443b, 10%);

                border: none;
                outline: none;
                background: #bebebe;

                &:focus {
                    background: lighten(#bebebe, 5%);
                }
            }

            input[type="submit"]
            {
                display: block;
                width: 75px;
                height: 30px;
                position: absolute;
                right: 0;
                top: 0;

                font-family: 'Avenir Black';
                font-size: 12px;
                line-height: 30px;
                font-weight: normal;
                color: white;
                text-transform: uppercase;

                margin: 0;
                padding: 0;
                border: none;
                outline: none;
            }
        }
    }
}