.header .logo {
    position: absolute;
    font-family: 'Avenir Light';
    color: white;
    line-height: 100%;
    text-decoration: none;
    text-shadow: #3d0d07 1px 1px 0;

    &:hover {
        border-bottom: dotted white 1px;
    }

    @media only screen and (max-width: 549px) {
        width: 100%;
        left: 0;
        top: 70px;
        text-align: center;
        font-size: 28px;
    }

    @media only screen and (min-width: 550px) and (max-width: 767px) {
        width: 100%;
        left: 0;
        top: 80px;
        text-align: center;
        font-size: 30px;
    }

    @media only screen and (min-width: 768px) and (max-width: 979px) {
        left: 25px;
        top: 70px;
        font-size: 30px;
    }

    @media only screen and (min-width: 980px) and (max-width: 1219px) {
        left: 25px;
        top: 67px;
        font-size: 34px;
    }

    @media only screen and (min-width: 1220px) {
        left: 50px;
        top: 65px;
        font-size: 38px;
    }
}