.logo {
    &.text {
        display: block;
        text-decoration: none;

        span {
            font-family: 'Avenir Light';
            color: white;
            line-height: 1;
            text-shadow: #3d0d07 1px 1px 0;
            outline: 0;
            font-size: 32px;
            line-height: 1.1;
        }

        @media only screen and (max-width: 979px) {
            margin: 25px 0;
            text-align: center;
        }

        @media only screen and (min-width: 980px) {
            position: absolute;
            left: 25px;
            top: 25px;
            height: 130px;
            width: 380px;
            line-height: 130px;

            span {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }

    &.image {
        @media only screen and (max-width: 979px) {
            img {
                display: block;
                margin: 25px auto;
                width: 100%;
                height: auto;
                max-width: 300px;
            }
        }

        @media only screen and (min-width: 980px) {
            position: absolute;
            left: 50px;
            top: 25px;
            height: 120px;
            width: 400px;
            font-size: 0;

            .helper {
                display: inline-block;
                height: 100%;
                vertical-align: middle;
            }

            img {
                vertical-align: middle;
                max-height: 100%;
                max-width: 100%;
            }
        }
    }
}