.sub_menu {
    list-style: none;
    margin: 0;
    padding: 12px 15px;
    background: #aa3f28 url("../img/red_texture.png") center;

    li {
        display: inline-block;
        margin: 0 10px;

        a {
            display: block;
            color: #f3a18a;
            font-size: 13px;
            line-height: 1;
            font-weight: bold;
            text-decoration: none;
            outline: 0;

            &:hover {
                color: white;
            }
        }

        &.selected {
            a {
                color: white;
            }
        }
    }
}