.page .sub_menu {
    list-style: none;
    margin: 15px 0;
    padding: 0;

    li {
        display: inline-block;
        margin: 0 10px;

        a {
            display: block;
            color: #ccc;
            font-size: 13px;
            line-height: 100%;
            font-weight: bold;
            text-decoration: none;
            border-radius: 2px;

            &:hover {
                color: white;
            }
        }

        &.selected {
            a {
                color: white;
            }
        }
    }
}